
<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-body">
          <div class=" places-buttons">
            <div class=" row">
              <div class=" col-md-6 ml-auto mr-auto text-center">
                <span>   <i> Consulter ,Modifier, Supprimer </i></span>
                <button class=" btn btn-fill btn-danger" type="submit"> Ajouter Nouvelle article   </button>

                <button class=" btn btn-fill btn-danger" type="submit"> Grer vos Categorie </button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h5 class=" title"> Liste de vos articles  </h5></div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Nom</th>
              <th>Designiation</th>
              <th>Categorie</th>
              <th>Quantite </th>
              <th>Prix d'achat</th>
              <th>Prix de vente </th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees | async">
              <td>{{employee.nom}}</td>
              <td>{{employee.desc}}</td>
              <td>{{employee.cat}}</td>
              <td>{{employee.qte}}</td>
              <td>{{employee.prixa}}</td>
              <td>{{employee.prixv}}</td>

              <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">Save</button>


        </div>
      </div>
    </div>


  </div>
</div>
