
<div class=" content">
  <div class=" row">
    <div class=" col-md">
      <div class=" card">
        <div class=" card-body">
          <div class=" places-buttons">

            <nav class="navbar navbar-expand-lg bg-info">
              <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor07" aria-controls="navbarColor07" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-bar navbar-kebab"></span>
                  <span class="navbar-toggler-bar navbar-kebab"></span>
                  <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor07">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a [routerLink]="['/vente']">Vente Article  <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a [routerLink]="['/create']"> Nouvelle Article </a>
                    </li>
                    <li class="nav-item">
                      <a [routerLink]="['/article']"> Gestion Articles </a>
                    </li>
                    <li class="nav-item">
                      <a [routerLink]="['/cat']"> Ctegorie Article </a>
                    </li>
                  </ul>
                  <form class="form-inline ml-auto">
                    <div class="form-group no-border">
                      <input type="text" class="form-control" placeholder="Search" />
                    </div>
                    <button type="submit" class="btn btn-link btn-icon btn-round">
                      <i class="tim-icons icon-zoom-split"></i>
                    </button>
                  </form>
                </div>
              </div>
            </nav>

          </div>
        </div>
      </div>
    </div>
    <div class=" col-md">
      <div class=" card">
        <div class=" card-header"><h5 class=" title"> Chercher de vos articles  </h5></div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Nom</th>
              <th>Model</th>
              <th>Categorie</th>
              <th>Quantite </th>
              <th>Prix d'achat</th>
              <th>Prix de vente </th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees  |  async | paginate:{itemsPerPage: 10, currentPage:p}">
              <td>{{employee.nom}}</td>
              <td>{{employee.desc}}</td>
              <td>{{employee.cat}}</td>
              <td>{{employee.qte}}</td>
              <td>{{employee.prixa}}</td>
              <td>{{employee.prixv}}</td>

              <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
              </td>
            </tr>
            </tbody>
          </table>
          <div id="pagination">
            <pagination-controls (pageChange)="p=$event"></pagination-controls>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>
<!-- main app container -->

